* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --primary-color: #018558;
    --seconday-color: #fef031;
    --tertiary-color: #bde902;
}

body {
    background-color: var(--tertiary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* header and nav styles */

header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}