* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --primary-color: #2F4E68;
    --secondary-color: #C8A3B5;
    --tertiary-color: #FDBE83;
}

body {
    background-color: var(--primary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* header & nav styles */

header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    text-decoration: none;
    /* need to figure out color */
}

header a {
    text-decoration: none;
}

header nav {
    margin: 7px 0;
    text-decoration: none;
}

header h1:hover {
    background: var(--tertiary-color); /* doesn't work - needs fixin */
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    padding: 15px 15px;
    font-weight: lighter;
}

header nav ul li a:hover {
    background: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* header & nav stlye end */

/* hero style start */

.hero {
    margin: 20px 0;
    padding: 20px 0;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-about-img {
    border: solid 3px var(--secondary-color);

}

.hero-about-text {
    width: 35%;
    text-align: left;
    margin: 3.5%;
    color: var(--secondary-color);
}

.hero-about-text h2 {
    text-align: center;
    font-size: 55px;
    color: var(--secondary-color);
}

/* hero style end */

/* work-examples style start */

.work {
    margin: 20px 0;
    padding: 20px 0;
    border: solid 7px var(--secondary-color);
    border-radius: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    color: var(--secondary-color);

}

.run-buddy {
    margin: 20px 0;
    padding: 20px 0;
    width: 100%;
    text-align: center;

}

.run-buddy h3 {
    font-style: italic;
    font-size: 55px;
}

.work-item {
    width: 33%;
    text-align: center;
    margin: 3.5%;
}

/* work-examples style end */

/* contact style start */

.contact {
    margin: 20px 0;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
/* contact style end */