* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --primary-color: #F2F1ED;
    --secondary-color: #444;
    --tertiary-color: #DE5A51;
}

body {
    background-color: var(--primary-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* header & nav styles */

header {
    padding: 20px 35px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-bottom: solid 1px var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
    0 2px 2px rgba(0,0,0,0.12),
    0 4px 4px rgba(0,0,0,0.12),
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    text-decoration: none;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* need to figure out color */
}

header a {
    text-decoration: none;
}

header nav {
    margin: 7px 0;
    text-decoration: none;
}

header h1:hover {
    color: var(--tertiary-color);
    text-shadow: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    padding: 15px 15px;
    font-weight: lighter;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    color: var(--tertiary-color);
    text-shadow: none;
}

a:visited {
    text-decoration: none;
    color: var(--primary-color);
}

/* header & nav stlye end */

/* hero style start */

.hero {
    margin: 20px 0;
    padding: 20px 0;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-about-img {

}

.hero-about-img img {
    border: solid 1px var(--tertiary-color);
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
                0 2px 2px rgba(0,0,0,0.12),
                0 4px 4px rgba(0,0,0,0.12),
                0 8px 8px rgba(0,0,0,0.12),
                0 16px 16px rgba(0,0,0,0.12);
}

.hero-about-text {
    width: 35%;
    text-align: left;
    margin: 3.5%;
    color: var(--secondary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hero-about-text h2 {
    text-align: center;
    font-size: 55px;
    color: var(--secondary-color);
}

/* hero style end */

/* work-examples style start */

.work {
    margin: 20px 0;
    padding: 20px 0;
    border-top: solid 5px var(--secondary-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    color: var(--secondary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.08),
                0 2px 2px rgba(0,0,0,0.12),
                0 4px 4px rgba(0,0,0,0.16),
                0 8px 8px rgba(0,0,0,0.20),

}

.run-buddy {
    margin: 20px 0;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.run-buddy h3 {
    font-style: italic;
    font-size: 55px;
}

.work-item {
    width: 33%;
    text-align: center;
    margin: 3.5%;
}

.work-item img {
    width: 30%;
    height: auto;
    border: 1px solid var(--tertiary-color);
    border-radius: 30%;
}

.work-item:hover {
    color: var(--tertiary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.work-item img:hover {
   transform: scale(1.08);
}

/* work-examples style end */

/* contact style start */

.contact {
    margin: 20px 0;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
/* contact style end */